.chatWindow {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chatWindow--header {
    height: 60px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatWindow--headerInfo {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.chatWindow--avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 15px;
}

.chatWindow--name {
    font-size: 17px;
    color: #111;
}

.chatWindow--headerButtons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.chatWindow--btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.chatWindow--body {

}

.chatWindow--footer {

}